<div id='cssmenu' class='align-center'>
	<ul>
		<li id='tables' class='active has-sub first' qtip='Shift+T'><a href='javascript:void(0)'><span>Tabellen</span></a>
			<ul>
				<li id='singleTable' class='active'><a href='javascript:void(0)' class='sub'><span class='sub'>Einzeltabelle</span></a></li>
				<li id='doubleTable'><a href='javascript:void(0)' class='sub'><span class='sub'>Doppeltabelle</span></a></li>
				<li id='teamTable' class='last'><a href='javascript:void(0)' class='sub'><span class='sub'>Teamtabelle</span></a></li>
			</ul></li>
		<li id='results' qtip='Shift+R'><a href='javascript:void(0)'><span>Ergebnisse</span></a></li>
		<li id='insert' qtip='Shift+I'><a href='javascript:void(0)'><span>Spiel eintragen</span></a></li>
		<li id='charts' class='has-sub' qtip='Shift+S'><a href='javascript:void(0)'><span>Statistiken</span></a>
			<ul>
				<li id='singleChart'><a href='javascript:void(0)' class='sub'><span class='sub'>Einzelstatistik</span></a></li>
				<li id='doubleChart'><a href='javascript:void(0)' class='sub'><span class='sub'>Doppelstatistik</span></a></li>
				<li id='teamChart' class='last'><a href='javascript:void(0)' class='sub'><span class='sub'>Teamstatistik</span></a></li>
			</ul></li>
		<li id='player' class='last' qtip='Shift+P'><a href='javascript:void(0)'><span>Spieler</span></a></li>
	</ul>
</div>