<div id='cssmenu' class='align-center'>
	<div id="menu-button">Menu</div>
	<ul id="ul-menu-button">
		<li id='tables' class='active has-sub first' qtip='Strg+T'><a href='javascript:void(0)'>Tabellen</a>
			<ul>
				<li id='singleTable' class='active'><a href='javascript:void(0)' class='sub'>Einzeltabelle</a></li>
				<li id='doubleTable'><a href='javascript:void(0)' class='sub'>Doppeltabelle</a></li>
				<li id='teamTable' class='last'><a href='javascript:void(0)' class='sub'>Teamtabelle</a></li>
			</ul></li>
		<li id='results' qtip='Strg+R'><a href='javascript:void(0)'>Ergebnisse</a></li>
		<li id='insert' qtip='Strg+I'><a href='javascript:void(0)'>Spiel eintragen</a></li>
		<li id='charts' class='has-sub' qtip='Strg+S'><a href='javascript:void(0)'>Statistiken</a>
			<ul>
				<li id='singleChart'><a href='javascript:void(0)' class='sub'>Einzelstatistiken</a></li>
				<li id='doubleChart'><a href='javascript:void(0)' class='sub'>Doppelstatistiken</a></li>
				<li id='teamChart' class='last'><a href='javascript:void(0)' class='sub'>Teamstatistiken</a></li>
			</ul></li>
		<li id='player' class='last' qtip='Strg+P'><a href='javascript:void(0)'>Spieler</a></li>
	</ul>
</div>