<table class='{style.table}'>
	<tr>
		<td class='{style.header}'><span>SIEGE</span></td>
		<td class='{style.header}'><span>NIEDERLAGEN</span></td>
	</tr>
	<tr>
		<td class='{style.info}'><span class='{style.matches}'>{chartOpponentDto.wins}</span> <br> <span class='{style.percentage}'>({chartOpponentDto.percentageWins}%)</span></td>
		<td class='{style.info}'><span class='{style.matches}'>{chartOpponentDto.defeats}</span> <br> <span class='{style.percentage}'>({chartOpponentDto.percentageDefeats}%)</span></td>
	</tr>
</table>