/* Allgemeine Einstellungen */
body {
	border: none;
	margin: 0 auto;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/Chunkfive-webfont.eot');
	src: url('./fonts/Chunkfive-webfont.eot?#iefix')
		format('embedded-opentype'), url('./fonts/Chunkfive-webfont.woff')
		format('woff'), url('./fonts/Chunkfive-webfont.ttf')
		format('truetype'),
		url('./fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header {
	position: relative;
	padding: 12px 0px 0px 0px;
	width: 1200px;
	margin: 0 auto;
}

#headerIcon {
	float: left;
	padding-right: 10px;
}

#headerTitle {
	float: left;
	font: 40px ChunkFiveRegular;
	text-shadow: 0 -1px 1px #fff, 5px 2px 2px #383838;
	color: #dbdbdb;
	padding: 12px 0px 0px 0px;
}

#pageHeaderBackground {
	background: url("../images/header_bg.png") repeat-x scroll #616161
		!important;
}

#footerTitle {
	font: 14px ChunkFiveRegular;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
	text-align: center;
}

#pageFooterBackground {
	background-color: transparent;
	margin: 0 auto;
}

#transparentBackground {
	background-color: transparent;
}

#content {
	box-shadow: 4px 4px 10px #666;
	margin: 20px auto;
}

#contentBackground {
	background: url("../images/page_bg.png") repeat-x scroll #fff !important;
}

#panelHeading {
	font: 14px ChunkFiveRegular;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
}

/* ---------------------- Greenslate nav ---------------------- */
#tabs26 {
	position: relative;
	display: block;
	height: 42px;
	font-size: 11px;
	font-weight: bold;
	background: transparent url(../images/menu_bg.gif) repeat-x top left;
	font-family: Arial, Verdana, Helvitica, sans-serif;
	text-transform: uppercase;
	width: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tabs26 ul {
	position: relative;
	margin: 0px auto;
	padding: 0;
	list-style-type: none;
	left: 50%;
	float: left;
}

#tabs26 ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0 1px 0 0;
	right: 50%;
}

#tabs26 ul li .label {
	position: relative;
	display: block;
	color: #EEFFDF;
	text-decoration: none;
	padding: 14px 22px 0 22px;
	height: 28px;
	text-shadow: 1px 1px 2px #000;
}

#tabs26 ul li div.label:hover,#tabs26 ul li div.current {
	cursor: pointer;
	color: #fff;
	background: transparent url(../images/menu_bg_hover.gif) no-repeat top
		center;
}
/* ---------------------- END Greenslate nav ---------------------- */
/* Paging ComboBox */
.templatePagingComboBox {
	padding: 3px 10px 3px 10px;
	white-space: normal;
}

.templatePagingComboBox span {
	font-weight: normal;
	font-size: 11px;
}

.templatePagingComboBox h3 {
	font-size: 14px;
	display: block;
	font: inherit;
	font-weight: bold;
	color: #222;
}

.templatePagingComboBox h3 span {
	float: right;
	margin: 0 0 5px 5px;
	width: 100px;
	display: block;
	clear: none;
}