/* Allgemeine Einstellungen */
/*-----------------------------------------------------------------------------------------*/
body {
	border: none;
	margin: 0 auto;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Chunkfive-webfont.woff') format('woff');
}

/* Header */
/*-----------------------------------------------------------------------------------------*/
#header {
	position: relative;
	padding: 12px 0px 0px 0px;
	width: 1200px;
	margin: 0 auto;
}

#headerIcon {
	float: left;
	padding-right: 10px;
}

#headerText {
	float: left;
	font: 40px ChunkFiveRegular;
	text-shadow: 0 -1px 1px #fff, 5px 2px 2px #383838;
	color: #dbdbdb;
	padding: 12px 0px 0px 0px;
}

#headerBackground {
	background: url("../images/header_bg.png") repeat-x scroll #606060
		!important;
}

/* Navigation */
/*-----------------------------------------------------------------------------------------*/
#navigationBorder {
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}

/* Content */
/*-----------------------------------------------------------------------------------------*/
#content {
	box-shadow: 4px 4px 10px #666;
	margin: 20px auto 12px auto;
}

#contentBackground {
	background: url("../images/content_bg.png") repeat-x scroll #fff
		!important;
}

/* Footer */
/*-----------------------------------------------------------------------------------------*/
#footer {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
}

#footerLeft {
	position: absolute;
	left: 0px;
}

#footerText {
	position: absolute;
	right: 0px;
}

#footerBackground {
	margin: 0 auto;
}

/* General */
/*-----------------------------------------------------------------------------------------*/
#panelHeading {
	font: 14px ChunkFiveRegular;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
}

.resultLabel {
	font: 50px ChunkFiveRegular;
	background-color: #F1F1F1;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
}

.playerAdminInfo {
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-color: #D0D0D0;
	border-style: solid;
}

.playerAdminPlayerList {
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 0px;
	border-color: #D0D0D0;
	border-style: solid;
}

.infoStats {
	background: transparent url(../images/stats_bg.png) repeat-x top left;
}